<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/behaviors/index.css">
<%- include('../partials/nav') %>

<main>
  <h1>Training Behaviors</h1>
  <% if (!user) { %>
    <h1>Please login to see this page</h1>
    <img src="/assets/Grace.jpeg" alt="Baby gorilla eating a banana leaf">
  <% } %>
  <% if (user) { %>
  <!-- <div id="buttons"> -->
    <a href="/behaviors/new">
      <button>Add New Behavior</button>
    </a>
  <!-- </div> -->
  <h2>Shaping: In training</h2>
  <table>
    <thead>
      <tr>
        <th>Gorilla</th>
        <th>Behavior</th>
        <th>Keeper</th>
        <th>Social Group</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% behaviors.forEach(behavior => { %>
        <% if (behavior.status === "Shaping") { %>
          <tr>
            <td><%= behavior.gorilla.name %></td>
            <td><%= behavior.behavior %></td>
            <td><%= behavior.keeper.name %></td>
            <td><%= behavior.gorilla.group %></td>
            <td>
              <a href="/behaviors/<%= behavior._id %>">
                <button>Details</button>
              </a>
            </td>
          </tr>
        <% } %> 
      <% }) %>
    </tbody>
  </table>
  <h2>Maintenance: Fully trained</h2>
  <table>
    <thead>
      <tr>
        <th>Gorilla</th>
        <th>Behavior</th>
        <th>Keeper</th>
        <th>Social Group</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% behaviors.forEach(behavior => { %>
        <% if (behavior.status === "Maintenance") { %>
          <tr>
            <td><%= behavior.gorilla.name %></td>
            <td><%= behavior.behavior %></td>
            <td><%= behavior.keeper.name %></td>
            <td><%= behavior.gorilla.group %></td>
            <td>
              <a href="/behaviors/<%= behavior._id %>">
                <button>Details</button></td>
              </a>
          </tr>
        <% } %> 
      <% }) %>
    </tbody>
  </table>
  <h2>Regressed: Needs to be re-shaped</h2>
  <table>
    <thead>
      <tr>
        <th>Gorilla</th>
        <th>Behavior</th>
        <th>Keeper</th>
        <th>Social Group</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% behaviors.forEach(behavior => { %>
        <% if (behavior.status === "Regressed") { %>
          <tr>
            <td><%= behavior.gorilla.name %></td>
            <td><%= behavior.behavior %></td>
            <td><%= behavior.keeper.name %></td>
            <td><%= behavior.gorilla.group %></td>
            <td>
              <a href="/behaviors/<%= behavior._id %>">
                <button>Details</button></td>
              </a>
          </tr>
        <% } %> 
      <% }) %>
    </tbody>
  </table>
<% } %>

</main>
<%- include('../partials/footer') %>