<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/behaviors/new.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
  <h1>Add a Behavior</h1>
  <form action="/behaviors" method="POST">
    <label for="gorilla-select">Gorilla:</label>
    <select name="gorilla" id="gorilla-select" required>
      <option value="">--Gorilla--</option>
      <% gorillas.forEach(gorilla => { %>
        <option value="<%= gorilla._id %>"><%= gorilla.name %></option>
      <% }) %>
    </select>
    <label for="behavior-input">Behavior:</label>
    <input name="behavior" type="text" id="behavior-input" required>
    <label for="status-select">Status:</label>
    <select name="status" id="status-select">
      <option value="">--Status--</option>
      <option value="Shaping">Shaping</option>
      <option value="Maintenance">Maintenance</option>
      <option value="Regressed">Regressed</option>
    </select>
    <label for="comment-input">Comment:</label>
    <textarea name="comment" id="comment-input" rows="8"></textarea>
    <div></div>
    <button type="submit">Submit</button>
  </form>
<% } %>
</main>
<%- include('../partials/footer') %>