<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/behaviors/show.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
  <h1>Training Behavior Details</h1>
  <div <%- (behavior.image || behavior.gorilla.image) ? 'id="top"' : ''%>>
    <div id="show">
      <div>Behavior:</div>
      <div><%= behavior.behavior %></div>
      <div>Gorilla:</div>
      <a href="/gorillas/<%= behavior.gorilla._id %>">
        <button id="gorilla-btn"><%= behavior.gorilla.name %></button>
      </a>
      <!-- <div></div> -->
      <div>Keeper:</div>
      <div><%= behavior.keeper.name %></div>
      <div>Status:</div>
      <div><%= behavior.status %></div>
      <% if (behavior.comment) { %>
        <div>Comment:</div>
        <div><%= behavior.comment %></div>
      <% } %>
      
      <div></div>
      <div id="edit-btns">
        <% if (behavior.keeper.equals(user.profile._id)) { %>
          <a href="/behaviors/<%= behavior._id %>/edit">
            <button>Edit Behavior</button>
          </a>
          <form action="/behaviors/<%= behavior._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Behavior</button>
          </form>
        <% } %>
      </div>
    </div>
    
    
    <% if (behavior.image) { %>
      <div id="img-div">
        <img id="user-img" src="<%= behavior.image %>" alt="gorilla training">
      </div>
    <% } else if (behavior.gorilla.image) { %>
      <div id="img-div">
        <img id="user-img" src="<%= behavior.gorilla.image %>" alt="gorilla">
      </div>
    <% } %>
  </div>

  <% if (behavior.keeper.equals(user.profile._id) || behavior.entries.length) { %>
    <h2>Training Log Entries</h2>
  <% } %> 
  
  <% if (behavior.entries.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Comment</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% behavior.entries.forEach(entry => { %>
            <tr>
              <td><%= entry.date.toISOString().slice(0, 10) %></td>
              <td><%= entry.content %></td>
              <td>
                <% if (behavior.keeper.equals(user.profile._id)) { %>
                  <form 
                  action="/behaviors/<%= behavior._id %>/entries/<%= entry._id %>?_method=DELETE" 
                  method="POST">
                    <button type="submit">X</button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }) %> 
      </tbody>
    </table>
  <% } %>

  <% if (behavior.keeper.equals(user.profile._id)) { %>
    <h3>Add Entry</h3>
    <form action="/behaviors/<%= behavior._id %>/entries" method="POST" id="add-entries">
      <label for="date-input">Date:</label>
      <input type="date" name="date" id="date-input">
      <label for="content-input">Entry:</label>
      <!-- <textarea name="content" id="content-input" cols="30" rows="4"></textarea> -->
      <input name="content" id="content-input" type="text">
      <!-- <div></div> -->
      <button type="submit">Add Entry</button>
    </form>
  <% } %>
<% } %>
</main>
<%- include('../partials/footer') %>