<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/gorillas/index.css">
<%- include('../partials/nav') %>

<main>
<h1>Gorillas</h1>

<h2>Family</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Social Group</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% gorillas.forEach(gorilla => { %>
      <% if (gorilla.group === "Family") { %>
        <tr>
          <td><%= gorilla.name %></td>
          <td><%= gorilla.age %></td>
          <td><%= gorilla.sex === "Male" ? 'M' : 'F' %></td>
          <td><%= gorilla.group %></td>
          <td>
            <a href="/gorillas/<%= gorilla._id %>">
              <button>Details</button>
            </a>
          </td>
        </tr>
      <% } %>
    <% }) %>
  </tbody>
</table>

<h2>Bachelor</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Social Group</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% gorillas.forEach(gorilla => { %>
      <% if (gorilla.group === "Bachelor") { %>
        <tr>
          <td><%= gorilla.name %></td>
          <td><%= gorilla.age %></td>
          <td><%= gorilla.sex === "Male" ? 'M' : 'F' %></td>
          <td><%= gorilla.group %></td>
          <td>
            <a href="/gorillas/<%= gorilla._id %>">
              <button>Details</button>
            </a>
          </td>
        </tr>
      <% } %>
    <% }) %>
  </tbody>
</table>

<% if (user) { %>
  <a href="/gorillas/new">
    <button id="add-btn">Add a Gorilla</button>
  </a>
<% } %>

</main>
<%- include('../partials/footer') %>